@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="/.auth/login/aad">Login AAD</a> | 
            <a href="/.auth/login/google">Login Google</a> | 
            (Hello <a href="/.auth/me">me</a>) | 
            <a href="/.auth/logout">Logout</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
